/* test6.css */
body {
    margin: 0px;
    font-size: 0.8em;
}
.container {
    background-color: bisque;
    height: 100vh;
    display: flex;

    flex-direction: row;
    /* flex-direction: column; */

    /* 메인 축(행) / 교차축(열), 90도 전환 */
    /* flex-direction: row; */ 
    /* flex-direction: column; */
    /* 메인 축(행) / 교차축(열), 레이아웃 뒤집기 */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* 화면공간에 맞춰 정렬 */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* 메인, 교차 축의 정렬위치 */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    /* align-items는 한 줄 이상 부터 적용 */
    /* align-items: center; */
    /* 글자기준정렬 */
    /* align-items:baseline; */
    /* align-content는 두 줄 이상 부터 적용 */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: center; */
}
.item {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    line-height: 70px;
    text-align: center;
}

.item:nth-child(1) {
    width: 150px;
    height: 150px;
    line-height: 150px;
}

.item1 {background-color: slateblue}
.item2 {background-color: salmon}
.item3 {background-color: forestgreen}
.item4 {background-color: violet}
.item5 {background-color: chocolate}
.item6 {background-color: deeppink}
.item7 {background-color: red}
.item8 {background-color: skyblue}
.item9 {background-color: darkcyan}
.item10 {background-color: chartreuse}